h1 {
  font-weight: bolder;
  text-align: center;
}

html {
  background-color: silver;
}

body {

}

img {
  float: right;
  clear: both;
  width: 30%;
  height: 30%;
}

.before {
  float: left;
  padding-bottom: 30px;
  background-color: red;
  padding-left: 20px;
}

.during {
  float: left;
  padding-bottom: 30px;
  background-color: white;
  padding-left: 20px;
}

.after {
  float: left;
  padding-bottom: 30px;
  background-color: blue;
  padding-left: 20px;
}
.image-1 {
  float: right;
}
